

.profile{
    grid-area: c;
    box-shadow:
            0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .8),
            23px 0 20px -23px rgba(0, 0, 0, .8),
            0 0 40px rgba(0, 0, 0, .1) inset;
    padding: 10px 10px;

}

.contentImg{
    width: 95%;
    height: 100px;
    padding: 0 40px;
}
.item {
    color: aqua;
}

.postHeader{
    text-align: center;
    font-family: "!Basket of Hammers", serif;
    user-select: none;
}